
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}

body{ 
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: 'Heebo', sans-serif;
	/*
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover; 
	*/
      background-image: url('../img/background.jpg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
/*
      z-index: -1;
      -webkit-transform: translateZ(0);
      pointer-events: none;
*/
}

.body_safari {
  background: url('../img/background.jpg') no-repeat center center fixed !important;
  background-size: cover; 
}

/* Portrait layout (default) */
.app {
    background:url(../img/icon.png) no-repeat center top; /* 170px x 200px */
    background-size: 100%;
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:30%;
    height: auto;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:235px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-125px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        background-size: 50%;
/*
        padding: 67px 0px 75px 242px !important;
        margin: -140px 0px 0px -215px !important;
*/
        padding: 86px 0px 75px 218px !important;
        margin: -179px 0px 0px -227px !important;
        height: auto;                                   
    }
    
    .aviso_x { 
        right: 0 !important;
        left: 50px;
        bottom: 25px;
        top: 0 !important;
        padding-top: 40px !important;		/* nuevo */
        padding-bottom: 0px !important;		/* nuevo */
    }

    .spinner:after, .spinner:before {
        left: 40% !important;
        top: 0 !important;
        bottom: 20% !important;
    }

    #index_page .nav_buttons {
        left: 35% !important;
    }
}

/* medidas del loader */
.loader{
    width: 30%; 
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/* ----- stylos de los eventos ----- */
  /*style base*/
.event {
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #717171;
    font-size: 15px;
    margin: 10px 30px 5px;
    border: 1px solid #fff;
    padding: 6px 2px;
    position: relative;
    letter-spacing: 2px;
    border: 1px #717171 solid;		/* nuevo */
}
  /*style error*/
.event.error {
    border: none;
    color: #fff;
    background: #F00000;
}
 /*style correcto*/
.event.received {
    color: #ffffff;
    background: #4cd964;
    border: none; 
    margin-top: 50px;
} 

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
/*clase para animar el evento */
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/*desaparecer elemento*/
.hide {
    display: none !important;
}
 
/* ----- Stilos de los botones ----- */

.nav_buttons div button {
    height: 40px;
    padding-top: 10px;
}

.nav_buttons button {
    padding: 10px 10px;
    display: inline-block; 
}

.nav_buttons #back, .nav_buttons #continue{
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
}
    /* botones rojo: regresar */
.nav_buttons #back{
    background: #ff3b30;
    border: 1px solid #ff3b30;
}
    /* boton azul: adelante */
.nav_buttons #continue {
    background: #4cd964;
    border: 1px solid #4cd964;
}
    /* focus: botones*/
.nav_buttons #back:focus, .nav_buttons #continue:focus {
    opacity: 0.6;
    outline: none;
}

.nav_buttons p{
  font-size: 13px;
  color: #000;		/* nuevo */
}

#index_page .nav_buttons{
  /*position: absolute;
  bottom: -30px;
  left: 25%;*/
  color: #fff;
}

.credito{padding: 35px 20px;}

.responsive{width: 100%;}
img.responsive{opacity: .7;}

/* ----- Stilo de cuadro de aviso 
.aviso_x{
    width: 100%;
    background: rgba(255,255,255,.7);
    height: auto;
    overflow: hidden;
    border-radius: 30px;
    padding: 18px;
    position: relative;
    right: 17px;
    top: 60px;
}
----- */

.aviso_x {
    background: rgba(255,255,255,.7);
    height: auto;
    overflow: hidden;
    border-radius: 21px;
    padding: 18px;
    margin-top: 20px;
}

#descrip_aviso{
  font-weight: bold;
  height: 80px;
  overflow: auto;
  margin-bottom: 10px;
  /* border-bottom: 1px solid rgba(223,26,83,0.5); */
  border-bottom: 1px solid rgba(74, 74, 74, 0.5);
}
